--extra-index-url https://download.pytorch.org/whl/cpu
knowledge_integrity[revertrisk-multilingual] @ git+https://gitlab.wikimedia.org/repos/research/knowledge_integrity.git@v0.3.0
kserve==0.10.0
PyYAML==6.0.1
