services:
  articlequality:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/articlequality/blubber.yaml
      target: production
    image: articlequality:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "articlequality"
    volumes:
      - ${PATH_TO_ARTICLE_QUALITY_MODEL:-/dummy/path}:/mnt/models/
  article-descriptions:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/article_descriptions/blubber.yaml
      target: production
    image: article-descriptions:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "article-descriptions"
    volumes:
      - ${PATH_TO_ARTICLE_DESCRIPTIONS_MODEL:-/dummy/path}:/mnt/models/
  reference-need:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/reference_quality/blubber.yaml
      target: production
    image: ref:prod
    ports:
      - "8080:8080"
    environment:
      BATCH_SIZE: "16"
      MODEL_TO_DEPLOY: "reference-need"
      NUM_OF_WORKERS: 2
    volumes:
      - ${PATH_TO_REFERENCE_NEED_MODEL:-/dummy/path}:/mnt/models/
  reference-risk:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/reference_quality/blubber.yaml
      target: production
    image: ref:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_TO_DEPLOY: "reference-risk"
      NUM_OF_WORKERS: 1
    volumes:
      - ${PATH_TO_REFERENCE_RISK_MODEL:-/dummy/path}:/mnt/models/
  revertrisk-language-agnostic:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/revertrisk/revertrisk.yaml
      target: production
    image: rrla:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "revertrisk-language-agnostic"
    volumes:
      - ${PATH_TO_REVERTRISK_LANGUAGE_AGNOSTIC_MODEL:-/dummy/path}:/mnt/models/
  revertrisk-multilingual:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/revertrisk/multilingual.yaml
      target: production
    image: rrml:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "revertrisk-multilingual"
    volumes:
      - ${PATH_TO_REVERTRISK_MULTILINGUAL_MODEL:-/dummy/path}:/mnt/models/
  edit-check:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/edit_check/blubber.yaml
      target: production
    image: edit-check:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "edit-check"
      MODEL_VERSION: "v1"
    volumes:
      - ${PATH_TO_EDIT_CHECK_MODEL:-/dummy/path}:/mnt/models/
  edit-check-cpu:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/edit_check/blubber_cpu.yaml
      target: production
    image: edit-check:cpu
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "edit-check"
      MODEL_VERSION: "v1"
      ENVIRONMENT: "dev"
      USE_METADATA: "false"
    volumes:
      - ${PATH_TO_EDIT_CHECK_MODEL:-/dummy/path}:/mnt/models/
  edit-check-test:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/edit_check/blubber.yaml
      target: test
    image: edit-check:test
  pre-commit-check:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/pre-commit-check/blubber.yaml
      target: test
    image: pre-commit-check:test
  readability:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/readability/blubber.yaml
      target: production
    image: readability:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "readability"
    volumes:
      - ${PATH_TO_READABILITY_MODEL:-/dummy/path}:/mnt/models/
  outlink-topic-model:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/outlink/blubber.yaml
      target: production
    image: outlink-topic-model:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "outlink-topic-model"
    volumes:
      - ${PATH_TO_OUTLINK_TOPIC_MODEL:-/dummy/path}:/mnt/models/
  revise-tone-task-generator:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/revise_tone_task_generator/blubber.yaml
      target: production
    image: revise-tone-task-generator:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "revise-tone-task-generator"
    volumes:
      - ${PATH_TO_REVISE_TONE_TASK_GENERATOR_MODEL:-/dummy/path}:/mnt/models/
  revise-tone-task-generator-cpu:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/revise_tone_task_generator/blubber_cpu.yaml
      target: production
    image: revise-tone-task-generator:cpu
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "revise-tone-task-generator"
    volumes:
      - ${PATH_TO_REVISE_TONE_TASK_GENERATOR_MODEL:-/dummy/path}:/mnt/models/
  revise-tone-task-generator-test:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/revise_tone_task_generator/blubber_cpu.yaml
      target: test
    image: revise-tone-task-generator:test
  revertrisk-wikidata:
    platform: linux/amd64
    build:
      context: .
      dockerfile: .pipeline/revertrisk_wikidata/blubber.yaml
      target: production
    image: revertrisk-wikidata:prod
    ports:
      - "8080:8080"
    environment:
      MODEL_NAME: "revertrisk-wikidata"
    volumes:
      - ${PATH_TO_REVERTRISK_WIKIDATA_MODEL:-/dummy/path}:/mnt/models/
