knowledge_integrity[revertrisk] @ git+https://gitlab.wikimedia.org/repos/research/knowledge_integrity.git@9845373b15b45e32e60e7ddecf04baf6bc6c25d1
# https://github.com/kserve/kserve/pull/3556
kserve @ git+https://github.com/kserve/kserve.git@9026d8a9a55697bb9a6e524d91e7ec36ceb00f2a#egg=kserve&subdirectory=python/kserve
PyYAML==6.0.1
