knowledge_integrity[revertrisk] @ git+https://gitlab.wikimedia.org/repos/research/knowledge_integrity.git@v0.6.0
kserve @ git+https://github.com/kserve/kserve.git@426fe21da0612ea6ef4a116b5114270313e02bbb#egg=kserve&subdirectory=python/kserve
PyYAML==6.0.1
